# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE & Editor folders
.idea/

# Environment config
.env*
.env.*.local

# PostgreSQL artifacts
*.sql

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
/coverage.out
