# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace file
go.work
go.work.sum

# Output of build tools
/build
/bin
/dist

# Dependency directories
/vendor/

# IDE & Editor folders
.idea/
*.iml

# Environment config
.env*
.env.*.local

# PostgreSQL artifacts
*.sql

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
/coverage.out

# JetBrains-specific HTTP request files
/httpRequests/
/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml